.Guideline {
  height: calc(100% - 30px);
  /* margin-left: 5px; */
  position: absolute;
  top: 15px;
  left: 28px;
  /* z-index: -1; */
  border-left: 1px solid lightgray;
}

.Splitline {
  width: 20px;
  /* position: absolute; */
  /* top: 15px; */
  display: inline-block;
  margin-left: 19px;
  margin-right: 10px;
  height: 6px;
  border-top: 1px solid lightgray;
}

.group-tool {
  position: relative;
  margin: 10px;
  z-index: 1;
}

.rule-tool {
  margin: 10px;
}

.group-tool-readonly {
  position: absolute;
  /* margin: 10px; */
  z-index: 1;
  top: calc(50% + -17px);
}

.group-tool-readonly:after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: solid 1px #ccc;
  width: 40px;
  left: -11px;
}
